<!DOCTYPE html>
<html lang=es>
<head>
	<meta charset="UTF-8">
	<title>UNJu - FI</title>
	<link rel="Stylesheet" href="/css/styles.css">
</head>
<body>
    <header id="header">
        <img src="C:\Users\Hola\git\TrabajoPractico3\tp3_BarretoVanina\src\main\resources\static\imagenes\Unju.jpg" alt="Descripción de la Imagen">
        <h1>Facultad de Ingenieria</h1>
        <nav>
            <a href="#seccion1">Catedra</a>
            <a href="#seccion2">Programa</a>
            <a href="#seccion3">Aula</a>
        </nav>
    </header>

    <main class="main">
        <section id="seccion1">
            <h2>Programacion Visual</h2>
            <h3>Carrera: Analista Programador Universitario.</h3>
            <p>Responsable de la catedra:</p>
            <ul><li>	Mg. Ing. Ariel Alejandro Vega</li></ul>
			<p>Equipo de catedra:</p>
            <ul>
				<li>	Prof. Adj. Ded. Simple Mg. Ing. Gustavo Sosa</li>
				<li>	JTP Ded. Simple: Ing. Carolina Apaza</li>
				<li>	Ayu. Primera Ded. Simple Juan Carlos Rodriguez</li>
            </ul>
            <p>Modalidad de cursado: Virtual</p>
            <p>Año en el plan de estudios: Segundo año</p>
        </section>

        <section id="seccion2">
            <h2>Programa de catedra</h2>
            <h3>Plan de estudios: 2008</h3>
            <p>Carga horaria semanal 6 horas.</p>
            <p>Carga horaria total 90 horas.</p>
             <table>
                <thead>
                    <tr>
                        <th>Unidad</th>
                        <th>Contenido</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Unidad 1 Lenguaje Java</td>
                        <td>
                        	<ul>
                        		<li>Tipos de datos primitivos y complejos.</li>
                        		<li>Estructura de datos.</li>
                        		<li>Operadores uso de Strings.</li>
                        		<li>Arreglos y Colecciones</li>
                        		<li>Conceptos Generales de la programacion orientada a objetos</li>
                        		<li>Clases y objetos: Definición y Ejemplos.</li>
                        	</ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Unidad 2 Introduccion a Spring Boot</td>
                        <td>
                        	<ul>
                        		<li>Arquitectura de aplicaciones Web.</li>
								<li>Herramientas necesarias.</li>
								<li>¿Qué es un Framework?</li>
								<li>Evolución de Spring.</li>
								<li>Módulos disponibles.</li>
								<li>Arquitectura de una aplicación con Spring.</li>
								<li>Creación de proyectos con Spring Boot en un IDE.</li>
								<li>Concepto de Controladores.</li>
								<li>Gestión de peticiones con RequestMapping.</li>
								<li>Introducción a HTML.</li>
								<li>Estructura de un documento HTML.</li>
								<li>Introducción a CCS.</li>
								<li>Creación de un sitio Web HTML.</li>
                        	</ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Unidad 3 Gestion de Dependencias y Versionamiento</td>
                        <td>
                        	<ul>
                        		<li>Gestión de Proyectos mediante un sistema de control de versionamiento.</li>
								<li>Git: tareas deversionamiento con Git.</li>
								<li>Integración de Git con un IDE.</li>
								<li>Maven: descripción y utilidad.</li>
								<li>Descripción de la estructura de un proyecto Maven.</li>
								<li>Gestión de dependencias, repositorio Maven.</li>
								<li>Uso de arquetipos Maven.</li>
								<li>Spring boot y Maven.</li>
                        	</ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Unidad 4 Apring Boot MVC</td>
                        <td>
                        	<ul>
                        		<li>Thymeleaf como motor de templates.</li>
                        		<li>Creación de un proyecto MVC con Spring Boot y thymeleaf.</li>
                        		<li>Configuración de propiedades mediante el fichero properties o yml.</li>
                        		<li>Introducción a Bootstrap: concepto e implementación de componentes. </li>
                        		<li>Navbar.</li>
                        		<li>Grillas con Bootstrap.</li>
                        		<li>Cards.</li>
                        		<li>Buttons.</li>
                        		<li>Breadscrumb.</li>
                        	</ul>
                        </td>
                    </tr>
                     <tr>
                        <td>Unidad 5 Clases de negocio</td>
                        <td>
                        	<ul>
                        		<li>Creación de clases de negocio.</li>
                        		<li>Clases de Servicio.</li>
                        		<li>Concepto de Inyección de dependencias.</li>
                        		<li>Vinculación entre clases de negocio con Servicios.</li>
                        		<li>Agregar objetos al modelo (Model).</li>
                        		<li>Renderizado de la UI con Thymeleaf.</li>
                        	</ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Unidad 6 Persistencia de objetos</td>
                        <td>
                        	<ul>
                        		<li>Conceptos básicos de persistencia de Objetos.</li>
                        		<li>Introducción a JPA.</li>
                        		<li>Conexión a un Motor de Base de Datos.</li>
                        		<li>Configuración de JPA con Spring Boot.</li>
                        		<li>CrudRepository, JpaRepository, Query Methods, Relaciones.</li>
								<li>Sistema de trazas: configuración con Spring Boot.</li>
                        	</ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Unidad 7 Manejo de formularios</td>
                        <td>
                        	<ul>
								<li>Gestión de eventos.</li>
								<li>Búsquedas.</li>
								<li>CRUD de clases de negocio.</li>
								<li>Operaciones de negocio.</li>
								<li>Uso de @Query para consultas personalizadas.</li>
								<li>Integración con componentes Bootstrap y thymeleaf.</li>
								<li>Integración de conceptos en una aplicación robusta.</li>
                        	</ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

		<section id="seccion3">
			<h2>Aula virtual</h2>
			<h3>Aula de la catedra</h3>
			<p>La facultad proporciona un aula virtual para la catedra</p>
			<p>En el siguiente enlace encontrara el material teorico y practico, videos y mucho mas para la cusrsada de la catedra</p>
			<a href= "https://virtual.unju.edu.ar/course/view.php?id=2540"> Click para visitar el aula de la catedra</a>
		</section>

        
    </main>
	<aside>
		<h3>Contenido Adicional</h3>
		<img src="C:\Users\Hola\git\TrabajoPractico3\tp3_BarretoVanina\src\main\resources\static\imagenes\Java.jpg" alt="Descripción de la Imagen">
		<p>Los siguientes les seran necesarios para la cursada.</p>
		<a href="https://spring.io/tools/">Spring Tools</a>
		<a href="https://www.oracle.com/java/technologies/javase/jdk17-archive-downloads.html"> Java Oracle</a>
	</aside>
    <footer>
		<p>Contacto: 41786611@fi.unju.edu.ar</p>
		<a href="VaniiHal">Facebook</a>
		<a href="VaniiHal">Instagram</a>
    </footer>
</body>
</html>


