<!DOCTYPE html>
<html lang=es>
<head>
	<meta charset="UTF-8">
	<title>Programacion Visual</title>
</head>
<body>
    <header>
        <h1>Programacion Visual</h1>
        <nav>
            <a href="#seccion1">Profesores</a>
            <a href="#seccion2">Programa</a>
            <a href="#seccion3">Contenido</a>
        </nav>
    </header>

    <main>
        <section id="seccion1">
            <h2>Profesores de la materia</h2>
            <h3>Subtítulo de la Sección 1</h3>
            <p>Programacion Visual, materia de segundo año de la carrera Analista programador universitario</p>
            <ul>
                <li>Ariel Alejandro Vega</li>
                <li>Gustavo Sosa</li>
                <li>Carolina Apaza</li>
                <li>Juan Carlos Rodriguez</li>
            </ul>
            <table>
                <thead>
                    <tr>
                        <th>Encabezado 1</th>
                        <th>Encabezado 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dato 1</td>
                        <td>Dato 2</td>
                    </tr>
                    <tr>
                        <td>Dato 3</td>
                        <td>Dato 4</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="seccion2">
            <h2>Programa de la materia</h2>
            <h3>Subtítulo de la Sección 2</h3>
            <p>Carga horaria semanal 6 horas.</p>
            <p>Carga horaria total 90 horas.</p>
            <ol>
                <li>Unidad 1 Lenguaje Java</li>
                <li>Unidad 2 Introduccion a Spring Boot</li>
                <li>Unidad 3 Gestion de Dependencias y Versionamiento</li>
                <li>Unidad 4 Apring Boot MVC</li>
                <li>Unidad 5 Clases de negocio</li>
                <li>Unidad 6 PErsistencia de objetos</li>
                <li>Unidad 7 Manejo de formularios</li>
            </ol>
        </section>

        <section id="seccion3">
            <h2>Aula virtual</h2>
            <h3>Subtítulo de la Sección 3</h3>
            <p>Párrafo de texto de la Sección 3.</p>
            <img src="ruta/a/imagen.jpg" alt="Descripción de la Imagen">
        </section>

        <aside>
            <h3>Contenido Adicional</h3>
            <p>Párrafo de texto del Contenido Adicional.</p>
            <a href="#">Enlace Adicional</a>
            <img src="ruta/a/imagen.jpg" alt="Descripción de la Imagen">
        </aside>
    </main>

    <footer>
        <p>Contacto: correo@example.com</p>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
    </footer>
</body>
</html>


